@if(type === 'secondary-link')
  <a href="{{ link || '#' }}" aria-label="{{ label }}" class="secondary-link">
    {{ label }}
</a>

@elseif(type === 'nav-link')
  <a
    href="{{ href || '#' }}"
    up-follow
    up-target="{{ target }}"
    onclick="{{ onclick_action || '' }}"
    class="{{ class_name }}"
  >
    <i class="{{ icon || '' }}"></i>{{ label || '' }}
  </a>
@end
