{{-- Separator Component --}}
<div class="flex items-center">
  <div class="flex-grow border-t border-neutral-dark decoration-1">
  </div>
  <span class="px-4 text-base text-background-light">OU</span>
  <div class="flex-grow border-t border-neutral-dark decoration-1">
  </div>
</div>
