<!DOCTYPE html>
{{-- =========================== METADONNÉES HEAD =========================== --}}
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{-- SEO Dynamique --}}
    <meta
      name="description"
      content="{{ description || 'Bienvenue sur X (Clone). Rejoignez la conversation, suivez l\'actualité en temps réel et connectez-vous avec le monde entier.' }}"
    />
    <title>
      {{ title || 'Bienvenue sur X (Clone)' }}
    </title>

    {{-- Vite pour le CSS et JS --}}
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    {{-- Scripts spécifiques tweet --}}
    @vite(['resources/js/tweet_preview.js'])
    @vite(['resources/js/emoji_picker.js'])

    <script src="https://unpkg.com/hero-icon-js/hero-icon-outline.js">

    </script>
    <script src="https://unpkg.com/hero-icon-js/hero-icon-solid.js">

    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.12.1/unpoly.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.12.1/unpoly.min.js">

    </script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body
    class="{{ body_class || 'bg-background-dark text-background-light font-sans antialiased min-h-screen flex flex-col' }}"
  >

