@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Import de tes composants personnalisés */
@import './components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Style du conteneur pour l'ombre et le détachement */
.emoji-picker-panel {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #333; /* Bordure discrète pour le mode sombre */

  /* Ombre simple, épaisse et égale partout (0 offset) */
  box-shadow: 0 0 8px 1px rgba(80, 80, 80, 0.7);
}

/* Personnalisation du composant emoji-picker */
emoji-picker {
  /* Taille réduite */
  width: 290px;
  height: 350px;
  --num-columns: 7;
  --emoji-size: 1.1rem;

  /* Couleurs pour le thème sombre */
  --background: #000000; /* Couleur typique Twitter/X */
  --border-color: #000000;
  --outline-color: #1d9bf0; /* Bleu brand pour le focus */
  --indicator-color: #1d9bf0;
}

/* Pour s'assurer que le composant prend bien le fond sombre */
emoji-picker.dark {
  background-color: var(--background);
}
