/* Bouton social (Google, Apple, etc.) */
.btn-social-auth {
  @apply bg-background-light text-neutral-dark font-normal rounded-full 
         border border-neutral-lightBlue flex items-center justify-center gap-2 
         text-base px-6 py-2 
         transition-all duration-200 ease-in-out
         sm:px-10
         md:px-14;
  @apply lg:hover:bg-blue-50 lg:hover:border-blue-200;
}

/* Icônes svg des boutons sociaux */
.icon-social-auth {
  @apply w-4 h-4 sm:w-5 sm:h-5;
}

/* Bouton primaire (Créer un compte, etc.) */
.primary-btn {
  @apply bg-brand-primary text-background-light text-center font-semibold rounded-full 
         border border-brand-primary text-base px-6 py-2 
         transition-all duration-200 ease-in-out
         sm:px-10
         md:px-14;
  @apply lg:hover:bg-brand-hoverPrimary lg:hover:border-brand-hoverPrimary;
}

/* Bouton secondaire (Se connecter) */
.secondary-btn {
  @apply bg-transparent text-background-light text-center font-semibold rounded-full 
         border border-brand-secondary text-base px-6 py-2 
         transition-all duration-200 ease-in-out
         sm:px-10
         md:px-14;
  /* Hover limité au desktop */
  @apply lg:hover:bg-neutral-dark/50 lg:hover:border-brand-secondary;
}

/* Bouton secondaire noir */
.black-btn {
  @apply w-full bg-background-dark text-background-light text-center font-bold rounded-full 
         border border-background-dark text-base px-6 py-2
         transition-all duration-200 ease-in-out
         sm:px-10
         md:px-14;
  /* Hover limité au desktop */
  @apply lg:hover:bg-neutral-dark lg:hover:border-neutral-dark;
}

/* Bouton secondaire blanc */
.white-btn {
  @apply w-full bg-background-light text-background-dark text-center font-bold rounded-full 
         border border-neutral-lightBlue text-base px-6 py-2
         transition-all duration-200 ease-in-out
         sm:px-10
         md:px-14;
  /* Hover limité au desktop */
  @apply lg:hover:bg-neutral-light lg:hover:border-neutral-light;
}

/* Style des liens primaires */
.primary-link {
  @apply text-brand-primary transition-all duration-200 ease-in-out;
  @apply lg:hover:underline lg:hover:decoration-1;
}

/* Style des liens secondaires dans le footer */
.secondary-link {
  @apply text-neutral-gray transition-all duration-200 ease-in-out;
  @apply lg:hover:underline lg:hover:decoration-1;
}

.input {
  @apply w-full bg-background-light border rounded-md px-4 py-4 text-background-dark placeholder-brand-secondary outline-none transition-all duration-200 ease-in-out;
}

.input-error {
  @apply border-state-error focus:border-state-error focus:ring-1 focus:ring-state-error;
}
.input-base {
  @apply border-neutral-lightBlue focus:border-brand-primary focus:ring-1 focus:ring-brand-primary;
}

.card-scroll {
  scrollbar-gutter: stable;
}
